<ion-content padding>
  <h1 text-center *ngIf="!isAvailable">
    Erro! Flashlight não disponível no seu smartphone!
  </h1>
  <div *ngIf="isAvailable">
    <ion-fab middle center>
      <button ion-fab color="light" (click)="switchFlashlight(freq)"><ion-icon name="sunny"></ion-icon></button>
    </ion-fab>
    <ion-list>
      <ion-item>
        <ion-range min="0" max="9" [(ngModel)]="freq" color="primary" (ionChange)="switchFlashlight(freq)">
          <ion-icon range-left name="ios-sunny-outline"></ion-icon>
          <ion-icon range-right name="md-sunny"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
  </div>
</ion-content>